# snippets for making snippets :)
snippet snip
	snippet ${1:trigger}
		${2}
snippet msnip
	snippet ${1:trigger} ${2:description}
		${3}
# Insert string -> action pair
snippet sa
	"${1:string}"	{ ${2:action} }
